<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193734304815-i3cslfp5nl00v8qhbshnk7hsvt0iqtcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193734304815-i3cslfp5nl00v8qhbshnk7hsvt0iqtcu</string>
	<key>API_KEY</key>
	<string>AIzaSyBCTi-4RqkfqtCFDywOLf6lu9C4HYJNg7A</string>
	<key>GCM_SENDER_ID</key>
	<string>193734304815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluidmarket.mediacompression</string>
	<key>PROJECT_ID</key>
	<string>fops-media-upload</string>
	<key>STORAGE_BUCKET</key>
	<string>fops-media-upload.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193734304815:ios:1c949676395af910ec12da</string>
</dict>
</plist>